html 
    head
        title Pug Service

body
    h1 The PUG!

    div= welcomeMessage

    div This is a remote service to convert pug templates into html, that can, then, be rendered in a browser.

    div All hail #{hail}!
